<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Vue 测试实例 </title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>

<div id="app">
    <ol>
        <li v-for="(site, index) in sites">
            {{ index }} -{{ site.text }}
        </li>
    </ol>

    <h3>在template中使用v-for</h3>
    <ul>
        <template v-for="(value, key) in sites">
            <li>{{ key }} -{{ value.text }}</li>
        </template>
    </ul>

    <h3>迭代对象</h3>
    <ul>
        <li v-for="value in objectData">
            {{ value }}
        </li>
    </ul>

    <h3>第三个参数为索引</h3>
    <ul>
        <li v-for="(value, key, index) in objectData">
            {{ index }}. {{ key }} : {{ value }}
        </li>
    </ul>

    <h3>v-for 也可以循环整数</h3>
    <ul>
        <li v-for="n in 3">
            {{ n }}
        </li>
    </ul>
</div>

<h3>v-for/v-if 联合使用</h3>
<div id="app2">
    <select @change="changeVal($event)" v-model="selOption">
        <template v-for="(site,index) in sites" :site="site" :index="index" :key="site.id">
            <!-- 索引为 1 的设为默认值，索引值从0 开始-->
            <option v-if="index == 1" :value="site.name" selected>{{site.name}}</option>
            <option v-else :value="site.name">{{site.name}}</option>
        </template>
    </select>
    <div>您选中了:{{selOption}}</div>
</div>

<script>
    const app = {
        data() {
            return {
                sites: [
                    {text: 'Google'},
                    {text: 'baidu'},
                    {text: 'Taobao'}
                ],
                objectData: {
                    firstName: 'John',
                    lastName: 'Doe',
                    age: 30,
                    list: {
                        a: 1,
                        b: 2,
                        c: 3
                    }
                }
            }
        }
    }
    Vue.createApp(app).mount('#app')

    const app2 = {
        data() {
            return {
                selOption: "Baidu",
                sites: [
                    {id: 1, name: "Google"},
                    {id: 2, name: "Baidu"},
                    {id: 3, name: "Taobao"},
                ]
            }

        },
        methods: {
            changeVal: function (event) {
                this.selOption = event.target.value;
                //alert("你选中了" + this.selOption);
            }
        }
    }
    Vue.createApp(app2).mount('#app2')
</script>
</body>

</html>